.footer {
  margin: 100px 200px 20px 200px;

  &__top {
    display: flex;
    gap: 50px;
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    font-size: 14px;
  }

  &__h1 {
    font-size: 18px;
    font-weight: 500;
    color: #555;
  }

  &__span {
    color: #8d8d8d;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    color: #2879fe;
    font-weight: bold;
  }

  &__copy-right {
    margin-left: 20px;
    font-size: 12px;
    color: #8d8d8d;
  }

  &__image {
    height: 50px;
  }
}
